body {
    font-family:"times new roman", times, serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
    margin: 10px;
    border: 10px;
    background-color: rgb(129, 165, 201);
    opacity: 0.75;
    padding: 20px;
}


h1, h2 {
    
    color: rgb(44, 86, 105);
}


h1 {
   
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    font-family: 
    background-color: rgb(129, 165, 201);
    text-align: center
    
}

h2 {
    font-size: 30px;
    text-align: center;
    opacity: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 3px rgb(44, 86, 105) solid;
    border-radius: 10px;
}

a {
    font-size: 18px;
    font-weight: normal;
    text-decoration: rgb(44, 86, 105);

}
p {
    text-align: justify;
}

.name box {
    grid-column: span 4;
    margin-left: 10px;
    margin-right: 10px;

}
    
.photo {
 text-align: center;
 margin-left: 10px;
 margin-right: 10px;
 margin-top: 50px;
}

.blabla box {
    grid-column: 1;
    grid-row: 1;
}

.main {
    grid-column: 2;
}

.life {
    grid-column: 3;
}

.box {
    padding: 20px;
  }


  
.box2 {
    padding: 20px;
}

.up {
    grid-column: 1 / -1;
      border: 3px rgb(44, 86, 105) solid;
      border-radius: 7px;
  }



  .contact {
      padding: 20px;
      grid-column: 1;
  }
